<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <test verbose="2" name="Regression Test">
        <parameter name="browserName" value="chrome-headless"/>
        <classes>
            <class name="tests.RegisterTest">
                <methods>
                    <include name="userLoginWithCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>